:root {
  --primary: #57dfff;
  --bg: #353535;
}

* {
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

body {
  background-color: var();
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  padding: 0 5rem;
  background-color: ;
  align-items: center;
}

.navbar .navbar-name {
  font-size: 1.4rem;
  color: var(--primary);
}

.navbar .navbar-nav a {
  margin-left: 1rem;
}