:root {
  --primary: #29cefe;
  --bg: #091b29;
  --glp: #292929;
}

* {
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

body {
  background-color: var(--bg);
  font-family: 'Poppins', sans-serif;
  color: white;
}

.navbar {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  padding: 0 5rem;
  background-color: ;
  align-items: center;
}

.navbar .navbar-name {
  font-size: 1.4rem;
  color: var(--primary);
}

.navbar .navbar-nav a {
  margin-left: 1rem;
  color: white;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-sm a {
  margin-right: 0.7rem;
}